.filter-1 {
	filter: grayscale(80%);
}

.filter-2 {
	filter: brightness(2);
}

.filter-3 {
	filter: sepia(60%);
}

.filter-4 {
	filter: brightness(0.4);
}

.filter-5 {
	filter: saturate(60%);
}

.filter-6 {
	filter: blur(5px);
}

.filter-7 {
	filter: invert(10%);
}

.page {
	min-inline-size: 320px;
	min-block-size: 100dvb;
	font-family: var(--main-font);
	background-color: var(--page-background-color);
	background-image: var(--background-image);
	background-size: cover;
	background-attachment: fixed;
	font-variation-settings: 'wght' var(--text-weight);
}

.header {
	display: flex;
	inline-size: 100%;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	margin: 100px auto;
	background-image: var(--background-image);
	background: var(--page-background-color);
	border: var(--border-width) solid var(--contour-color);
	width: clamp(300px, 696px, 100%);
	min-height: clamp(200px, 364px, 100vh);
}

.header__title {
	font-weight: var(--text-weight);
	text-transform: uppercase;
	margin-block-end: 20px;
	font-family: var(--accent-font), sans-serif;
	font-size: clamp(49px, 3.4vw + 36.25px, 65px);
}

.header__subtitle {
	text-transform: uppercase;
	font-weight: var(--text-weight);
	font-family: var(--accent-font), sans-serif;
	font-size: clamp(14px, 0.8vw + 11px, 23px);
}

.card {
	border: var(--border-width) solid var(--contour-color);
	background: var(--page-background-color);
	margin-bottom: 52px;
}

.card:last-child {
	margin-bottom: 0;
}

.card__title {
	margin: clamp(3px, 4px - (100vw - 375px) * 0.00094, 4px) 10px 3px;
	color: var(--contour-color);
	font-size: 18px;
	font-variation-settings: 'wght' var(--title-weight);
}

.card__text-container {
	display: flex;
	flex-direction: column;
	gap: 27px;
	color: var(--contour-color);
	font-weight: var(--text-weight);
	font-size: 18px;
	line-height: 117%;
}

.card__image-container {
	position: relative;
	inline-size: 100%;
}

.card__image {
	display: block;
	box-sizing: content-box;
	border-block-start: var(--border-width) solid var(--contour-color);
	border-block-end: var(--border-width) solid var(--contour-color);
	object-fit: cover;
	block-size: auto;
	object-position: center;
	inline-size: 100%;
	max-block-size: clamp(371px, calc(371px + (100vw - 375px) * 0.30516), 696px);
}

.card__image-label {
	position: absolute;
	opacity: 0.5;
	color: var(--contour-color);
	font-family: var(--accent-font);
	font-weight: var(--text-weight);
	font-size: 14px;
	text-shadow: -1px 0 var(--page-background-color),
		0 1px var(--page-background-color), 1px 0 var(--page-background-color),
		0 -1px var(--page-background-color);
	inset-block-start: 28px;
	inset-inline-end: clamp(11px, calc(11px + (100vw - 375px) * 0.0131), 25px);
	mix-blend-mode: hard-light;
}

@supports (-webkit-text-stroke: 1px var(--page-background-color)) {
	.card__image-label {
		text-shadow: none;
		-webkit-text-stroke: 1px var(--page-background-color);
	}
}

.card__content {
	display: flex;
	flex-direction: column;
	gap: 25px;
	padding: 26px 25px;
}

.card__buttons-container {
	display: flex;
	gap: 8px;
	justify-content: end;
}

.button {
	position: relative;
	border: var(--border-width) solid var(--contour-color);
	color: var(--contour-color);
	font-family: var(--accent-font);
	font-weight: var(--text-weight);
	font-size: 14px;
	line-height: 90%;
	overflow: hidden;
	z-index: 1;
	background: var(--page-background-color);
	transition: box-shadow 0.3s ease;
	cursor: pointer;
}

.button:focus {
	outline: none;
	box-shadow: 2px 2px 0 0 var(--contour-color);
}

.button::before {
	position: absolute;
	content: '';
	z-index: -1;
	inset: 0;
	transform: translateX(-100%);
	background-color: var(--contour-color);
	transition: transform 0.5s ease-in-out;
}

.button:hover::before {
	transform: translateX(0);
}

.card__like-button {
	padding: 0;
	min-inline-size: 130px;
	max-block-size: 38px;
}

.card__icon-button {
	display: flex;
	justify-content: center;
	align-items: center;
	border: var(--border-width) solid transparent;
	padding: 0;
	block-size: 36px;
	inline-size: 39px;
	background-color: transparent;
	transition: border-color 0.3s ease;
	cursor: pointer;
}

.card__icon-button:focus {
	outline: none;
}

.card__icon-button:focus-visible {
	border-color: var(--contour-color);
}

.button__text {
	position: relative;
	z-index: 1;
	mix-blend-mode: difference;
	color: var(--page-background-color);
	font-family: var(--accent-font);
	font-weight: var(--text-weight);
	font-size: 14px;
	line-height: 90%;
}

.page__button {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 8px;
	margin: calc(52px - (100vw - 375px) * 0.001877) auto
		calc(100px + (100vw - 375px) * 0.002817);
	padding: 15px 20px;
	text-align: center;
}

.modal-window {
	flex-direction: column;
	gap: 30px;
	padding: 30px clamp(30px, -0.94vw + 43.52px, 40px);
	color: var(--contour-color);
	font-weight: var(--text-weight);
	font-size: 14px;
	text-transform: uppercase;
	background: var(--page-background-color);
	max-inline-size: clamp(341px, 335.4px + 1.5vw, 357px);
}

.modal-window[open] {
	display: flex;
}

.modal-window::backdrop {
	background-color: var(--modal-backdrop-color);
}

.modal-window__content {
	display: flex;
	align-items: center;
	gap: 20px;
}

.modal-window__icon {
	flex-shrink: 0;
	inline-size: 39px;
	block-size: 39px;
}

.modal-window__text {
	font-family: var(--accent-font);
	line-height: 150%;
}

.modal-window__button {
	padding: 11px 0;
	text-transform: uppercase;
	inline-size: 100%;
}

.floppy-icon {
	position: relative;
	z-index: 1;
	fill: var(--page-background-color);
	block-size: clamp(21px, 28px - (100vw - 375px) * 0.00657, 28px);
	inline-size: clamp(21px, 28px - (100vw - 375px) * 0.00657, 28px);
	mix-blend-mode: difference;
}

.like-icon {
	block-size: 36px;
	inline-size: 39px;
}

@media (width < 376px) {
	.page__button {
		flex-direction: column;
	}
}
