:root {
  --main-font: "Inter", Arial, Helvetica, sans-serif;
  --accent-font: "Press Start 2P", fantasy, monospace, sans-serif;
  --text-weight: 400;
  --title-weight: 700;
  --page-background-color: #fff;
  --border-width: 2px;
  --main-padding: clamp(10px, 2.5vw, 20px);
  --contour-color: #000;
  --animation-fill-color: #ff0000;
  --modal-backdrop-color: rgba(0, 0, 0, 0.75);
  --background-image: repeating-linear-gradient(
      90deg,
      #d3d3d3 0px,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    repeating-linear-gradient(
      0deg,
      #d3d3d3 0px,
      #d3d3d3 2px,
      transparent 2px,
      transparent 4px
    ),
    linear-gradient(180deg, #e7e7e7 0.01%, #1a1a1a 100%);
  --timing-animation-s: 0.05s;
  --timing-animation-m: 0.1s;
  --timing-animation-l: 0.3s;

}